@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@350&display=swap');

:root {
    --theme-color-main: #222222;
    --theme-color-active: #555555;
    --theme-color-hover: #777777;
    --theme-color-owhite: #EEEEEE;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 4em;
    background-color: var(--theme-color-main);
    font-family: "Raleway", sans-serif;
    color: var(--theme-color-owhite);
}
  
.nav-sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.nav-heading {
    letter-spacing: 6px;
    font-size: 14px;
}
  
.nav-pages {
    display: flex;
    justify-content: space-around;
    width: 30%;
}

.nav-pages li {
    list-style: none;
}

.nav-pages a {
    color: inherit;
    text-decoration: none;
    letter-spacing: 4px;
    font-size: 16px;
    padding: 14px 16px;
}

.nav-pages a:hover {
    background-color: var(--theme-color-hover);
}

.nav-pages a.active {
    background-color: var(--theme-color-active);
}

body {
    position: absolute;
    top: 8em;
    font-family: "Raleway", sans-serif;
    width: 100%;
    color: var(--theme-color-main);
    background-color: var(--theme-color-owhite);

}

.home-flex {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 100%;
}

.home-items {
    flex-basis: 50%;
    display: inline-block;
}

@keyframes fade-in {
    from {opacity: 0;}
    to {opacity: 1;}
}

.home-img img{
    display: block;
    margin-left: auto;
    max-width: 550px;
    width: 100%;
    padding-right: 20px;
    opacity: 1;

    animation-name: fade-in;
    animation-duration: 2s;
}

.home-desc {
    padding: 0 20px;
}

.home-desc h1 {
    letter-spacing: 4px;
}

.home-desc p {
    font-size:18px;
    letter-spacing: 2px;
    max-width: 530px;
    width: 100%;
}

.home-desc a {
    background-color: var(--theme-color-main);
    color: var(--theme-color-owhite);
    padding: 15px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    letter-spacing: 1px;
    cursor: pointer;
}

.home-desc a:hover {
    background-color: var(--theme-color-hover);
}



/* about.html */

.about-flex {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 100%;
}

.about-items {
    display: inline-block;
}

.about-img {
    flex-basis: 40%;
}

.about-img img{
    display: block;
    margin-left: auto;
    max-width: 440px;
    width: 100%;
    padding-right: 20px;
    opacity: 1;

    animation-name: fade-in;
    animation-duration: 2s;
}

.about-desc {
    padding: 0 20px;
    width: 100%;
    flex-basis: 60%;
}

.about-desc h1 {
    letter-spacing: 4px;
}

.about-desc p {
    font-size: 18px;
    letter-spacing: 2px;
    max-width: 720px;
}

.about-desc a {
    background-color: var(--theme-color-main);
    color: var(--theme-color-owhite);
    padding: 15px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    letter-spacing: 1px;
    cursor: pointer;
}

.about-desc a:hover {
    background-color: var(--theme-color-hover);
}



/* portfolio.html */

.portfolio-flex {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 100%;
}

.portfolio-items {
    flex-basis: 50%;
    display: inline-block;
}

.portfolio-img img{
    display: block;
    margin-left: auto;
    max-width: 500px;
    width: 100%;
    padding-right: 20px;
    opacity: 1;

    animation-name: fade-in;
    animation-duration: 2s;
}

.portfolio-desc {
    padding: 0 20px;
}

.portfolio-desc h1 {
    letter-spacing: 4px;
}

.portfolio-desc p {
    font-size:18px;
    letter-spacing: 2px;
    max-width: 530px;
    width: 100%;
}

.portfolio-desc a {
    background-color: var(--theme-color-main);
    color: var(--theme-color-owhite);
    padding: 15px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    letter-spacing: 1px;
    cursor: pointer;
}

.portfolio-desc a:hover {
    background-color: var(--theme-color-hover);
}

.portfolio-carousel {
    width: 100%;
    text-align: center;
}

.portfolio-arrow {
    border: solid var(--theme-color-main) 2px;
    padding: 5px;
    cursor: pointer;
    background: none;
    font-size: 18px;
    margin: 0 50px 20px 50px;
}




@media (max-width: 900px) {
    .home-flex {
        display: block;
        width: 100%;
    }

    .home-items {
        display: block;
    }

    .home-img img {
        margin: 0 auto;
        max-width: 400px;
        width: 100%;
        padding: 0;
    }

    .home-desc {
        padding: 30px;
    }

    .home-desc > * {
        margin: 10px 0;
    }

    .home-desc p {
        max-width: 900px;
    }



    /* about.html */

    .about-flex {
        display: block;
        width: 100%;
    }

    .about-items {
        display: block;
    }

    .about-img img {
        margin: 0 auto;
        max-width: 400px;
        width: 100%;
        padding: 0;
    }

    .about-desc {
        padding: 30px;
    }

    .about-desc > * {
        margin: 10px 0;
    }

    .about-desc p {
        max-width: 900px;
    }



    /* portfolio.html */

    .portfolio-flex {
        display: block;
        width: 100%;
    }

    .portfolio-items {
        display: block;
    }

    .portfolio-img img {
        margin: 0 auto;
        max-width: 400px;
        width: 100%;
        padding: 0;
    }

    .portfolio-desc {
        padding: 30px;
    }

    .portfolio-desc > * {
        margin: 10px 0;
    }

    .portfolio-desc p {
        max-width: 900px;
    }
}

@media (max-width: 650px) {
    nav {
        min-height: 8em;
        flex-direction: column;
    }
    
    body {
        top: 10em;
    }
}