@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@350&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 4em;
    background-color: #222222;
    font-family: "Raleway", sans-serif;
    color: white;
}
  
.nav-sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.nav-heading {
    letter-spacing: 6px;
    font-size: 14px;
}
  
.nav-pages {
    display: flex;
    justify-content: space-around;
    width: 30%;
}

.nav-pages li {
    list-style: none;
}

.nav-pages a {
    color: inherit;
    text-decoration: none;
    letter-spacing: 4px;
    font-size: 16px;
    padding: 14px 16px;
}

.nav-pages a:hover {
    background-color: #777777;
}

.nav-pages li a.active {
    background-color: #555555;
}

body {
    position: fixed;
    top: 8em;
    font-family: "Raleway", sans-serif;
    width: 100%;
}

.home-flex {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 100%;
}

.home-img img{
    display: block;
    margin-left: auto;
    max-width: 550px;
    width: 100%;
    padding-right: 20px;
}

.home-desc {
    padding-left: 20px;
}

.home-desc h1 {
    letter-spacing: 4px;
}

.home-desc p {
    font-size: 20px;
    letter-spacing: 2px;
    max-width: 550px;
    width: 100%;
}

.home-desc button {
    background-color: #222222;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.home-items {
    flex-basis: 45%;
    display: inline-block;
}


@media (max-width: 900px) {
    .home-flex {
        display: block;
        width: 100%;
    }

    .home-items {
        display: block;
    }

    .home-img img {
        margin: 0 auto;
        max-width: 400px;
        width: 100%;
    }

    .home-desc {
        margin: 50px;
    }
}

@media (max-width: 650px) {
    nav {
        min-height: 8em;
        flex-direction: column;
    }
    
    body {
        top: 10em;
    }
}