@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 4em;
    background-color: #222222;
    font-family: "Raleway", sans-serif;
    color: white;
}
  
.nav-heading {
    letter-spacing: 6px;
    font-size: 14px;
}
  
.nav-pages {
    display: flex;
    justify-content: space-around;
    width: 30%;
}

.nav-pages li {
    list-style: none;
}

.nav-pages a {
    color: inherit;
    text-decoration: none;
    letter-spacing: 4px;
    font-size: 16px;
    padding: 14px 16px;
}

.nav-pages a:hover {
    background-color: #777777;
}

.nav-pages li a.active {
    background-color: #555555;
}